{% extends "base.html" %}
{% load compress staticfiles %}
{% block content %}
<div>
        <div class="modal-dialog">
            <form id="assign-job-team-member-form" method="post" action="{% url 'allocate-jobs' %}" >
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="assign-job-title">Assign/UnAssign Job</h4>
                    </div>
                    <div class="modal-body">
                        <h1> </h1>
                        {% if checks %}
                            <table class="table">
                                <tr>
                                    <th>Select</th>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Url</th>
                                    <th>Last Ping</th>
                                </tr>
                            {% for check in checks %}
                                <tr class="check_info">
                                    <td>
                                        <input type="checkbox" {% if check.0 %} checked {% endif %}
                                            class="form-check-input"
                                            name = "checks-{{ check.1.id }}" id="{{ check.1.pk }}">
                                    </td>
                                    <td>
                                            <div class="form-row align-items-center">
                                              <div class="col-auto my-1">
                                                <label class="mr-sm-2" for="inlineFormCustomSelect">Priority</label>
                                                <select class="custom-select mr-sm-2"  name="value">
                                                  <!-- <option value="normal" ></option> -->
                                                  <option {% if check.2 == "normal" %} selected {% endif %} value="{{check.1.id}}-high"  >High</option>
                                                  <option {% if check.2 == "low" %} selected {% endif %} value="{{check.1.id}}-low" >Low</option>
                                                  <option {% if check.2 == "high" %} selected {% endif %} value="{{check.1.id}}-normal" >Normal</option>
                                                </select>
                                            </div>
                                            </div>
                                        </td>
                                        <td>{{ check.1.name }}</td>
                                        <td>{{ check.1.url }}</td>
                                        <td>{{ check.1.last_ping}}</td>
                                </tr>
                            {% endfor %}
                            </table>
                            {% else %}
                        <div class="alert alert-info">You don't have any checks yet.</div>
                    {% endif %}
                        <input
                            type="hidden"
                            name="member_id"
                            value= {{ member_id }}
                            id="assign-job-email" />
                    </div>
                    <div class="modal-footer">
                        <a href="{% url 'hc-profile' %}" class="btn btn-default">Cancel</a>
                        <button
                        id = "submit_trigger"
                            type="submit"
                            name="assign-job"
                            class="btn btn-success">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
<!---->

<!-- <div class="dropdown show">
    <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Priority
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li class="dropdown-item" > <a href="#">High</a></li>
      <li class="dropdown-item" ><a href="#">Low</a></li>
      <li class="dropdown-item" ><a href="#">Normal</a></li>
    </div>
  </div> -->
{% block scripts %}
{% endblock %}
{% endblock content %}
