{% extends "base.html" %}
{% load compress staticfiles %}
{% load hc_extras humanize %}
{% block title %}My Reports - healthchecks.io{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h1>
        {% if request.team == request.user.profile %}
            My {{request.user.profile.reports_period }} Report
        {% else %}
            {{ request.team.team_name }} {{request.user.profile.reports_period }} Report
        {% endif %}
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
    {% if checks %}
    <table class="table channels-table">
        <tbody>
            <tr>
                <th>Status</th>
                <th class="th-name">Name</th>
                <th>Ping URL</th>
                <th>Last Ping</th>
            </tr>
          {% for check in checks %}
                <tr class="channel-row">
                    <td class="indicator-cell">
                        {% if check.get_status == "new" %}
                            <span class="status icon-up new"
                                data-toggle="tooltip" title="New. Has never received a ping."></span>
                        {% elif check.get_status == "paused" %}
                            <span class="status icon-paused"
                                data-toggle="tooltip" title="Monitoring paused. Ping to resume."></span>
                        {% elif check.in_grace_period %}
                            <span class="status icon-grace"></span>
                        {% elif check.get_status == "up" %}
                            <span class="status icon-up"></span>
                        {% elif check.get_status == "down" %}
                            <span class="status icon-down"></span>
                        {% endif %}
                    </td>
                    <td width="20%" class="name-cell">
                       {% if check.name %}
                       <div> {{ check.name }}</div>
                       {% else %}
                       <div class="my-checks-name unnamed">unnamed</div>
                       {% endif %}
                    </td>
                    <td class="url-cell">
                        <span class="my-checks-url">
                            <span class="base">{{ ping_endpoint }}</span>{{ check.code }}
                        </span>
                        <button
                            class="copy-link hidden-sm"
                            data-clipboard-text="{{ check.url }}">
                            copy
                        </button>
                    </td>
                    <td class="timeout-cell">
                        {% if check.last_ping %}
                            {{ check.last_ping|naturaltime }}
                        {% else %}
                            Never
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

    {% else %}
    <div class="alert alert-info">You don't have checks due for reporting.</div>
    {% endif %}
    </div>
</div>

{% endblock %}

{% block scripts %}
{% compress js %}
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/clipboard.min.js' %}"></script>
<script>
    var clipboard = new Clipboard('button.copy-link');
    $("button.copy-link").mouseout(function(e) {
        setTimeout(function() {
            e.target.textContent = "copy";
        }, 300);
    })

    clipboard.on('success', function(e) {
        e.trigger.textContent = "copied!";
        e.clearSelection();
    });

    clipboard.on('error', function(e) {
        var text = e.trigger.getAttribute("data-clipboard-text");
        prompt("Press Ctrl+C to select:", text)
    });
</script>
{% endcompress %}
{% endblock %}
